header {
    background-color:white;
    padding: 5px;
}

footer {
    background-color: #E7E7E7;
    padding: 7px;
}

p {
    font-family: Montserrat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #325795;
}

nav {
    font-family: Montserrat;
    font-weight: bold;
}

h2 {
    padding: 7px;
}

.logo__titulo {
    color: #325795;
    font-family: "Cinzel";
    margin-bottom: 0px;
}

.logo__slogan {
    margin-top: 0px;
}